html {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
  font-style: normal;
  color: #5e7c63;
}

#headshot {
  max-width: 25%;
  max-height: 25%;
  border-radius: 20%;
  border: 1px solid gray;
  margin: 10px;
  }
