html {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
  color: gray;
  font-style: normal;
}

#headshot {
  max-width: 25%;
  max-height: 25%;
  border-radius: 20%;
  border: 5px;
  border-color: black;
  padding: 10px;
  }
