html {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  background-color: #FFFFFF;
}

header {
  text-align: center;
  color: #2d2d2d;
  background-color: #c7dbd3;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #979e9a;
  height: 60px;
}

.topNav {
  color: #3a423c;
  display: inline-block;
}

#icons {
  background-color: red;
}

#intro {
  display: inline-block;
}

#headshot {
  max-width: 25%;
  max-height: 25%;
  border: 2px solid #979e9a;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 15%;
  margin-right: auto;
  }

#greeting {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial;
  font-style: italic;
  float: right;
  padding-right: 25%;
  padding-top: 10%;
}

h3 {
  text-align: center;
  color: #3a3d3b;
}

p {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  display: block;
  margin-bottom: 40px;
  color: #505b54;
}

ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 40px;
  color: #505b54;
}

.project {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 20px;
  margin: 10px;
  border: 2px solid #979e9a;
  background-color: #c2cdd6;
}

footer {
  text-align: center;
  background-color: #9db7a9;
  height: 50px;
  position: absolute;
  width: 100%;
  border-top: 2px solid #979e9a;
}



.logos {
  height: 30px;
  width: 30px;
  padding: 10px;
}
