/*reattempt to build with bootstrap*/

#header {
  border: 1px solid black;

}

#header-name {
  font-family:'PT Sans', sans-serif;
  font-weight: bold;
}

#logos img {
  display: inline-block;
  margin-top: 10%;
  height: 30px;
  border: 2px solid red;
}

p {
  font-size: 50px;
}
