/*reattempt to build with bootstrap*/


body {
  font-family:'PT Sans', sans-serif;
}

#header {
  border: 1px solid black;
  margin-bottom: 50px;

}

#header-name {
  font-family:'PT Sans', sans-serif;
  font-weight: bold;
}

#logos img {
  display: inline-block;
  margin-top: 10%;
  height: 30px;
}

#introAll {
  margin-top: 50px;
}

#headshot {
  max-width: 100%;
  border: 1px solid black;
}

#bigGreeting {
  font-family: Georgia, sans-serif;
  font-size: 75px;
  font-weight: bold;
  font-style: italic;
  margin-top: 100px;
  margin-left: 25%;
}

#littleBio {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#projects {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

#p1, #p2, #p3 {
  border: 2px solid black;
  margin-left: 4%;
  margin-right: 3%;
  display: inline-block;
}

#footer {
  margin-top: 100px;
}
