/*reattempt to build with bootstrap*/

#header {
  background-color: gray;
  border-bottom: 1px solid black;
}

#header-name {
  font-family: 'Roboto';
  font-style: bold;
  color: white;
  height: 100%;
  margin-top: 10%;
}

#logos img {
  display: inline-block;
  margin-top: 10%;
  height: 30px;
}
